allow ueventd sysfs_adspd:file w_file_perms;
allow ueventd sysfs_smd_open_timeout:file setattr;

# Read the legacy DT fstab
r_dir_file(ueventd, proc_dt_firmware_android)
